<div class="container-fluid">
  <h1>Friendly Spoon</h1>
  <h3>is here for you!</h3>

  <div ng-app="friendlyApp" ng-controller="RecipesController">
    <div class="row main-row">
      <div class="col-xs-11">
        <form role="form">
        
          <label for="searchText" >Search recipes</label>
          <input type="text" autocomplete="off" ng-model="searchText" class="form-control" uib-typeahead="recipe as recipe.name for recipe in recipes | filter:{name:$viewValue} | limitTo:8">

        </form>
      </div>
    </div>
    <div class="row main-row">
      <div class="col-xs-11">
      <label>Tags</label>
      <select class="form-control">
        <option>Cookies</option>
        <option>Bread</option>
        <option>Glow clouds</option>
      </select>
      </div>
    </div>
    <div class="row main-row">
      <div class="col-xs-11">
      <a class="btn" ng-click="sort_by('name')">ABC <span class="glyphicon glyphicon-sort"></span></a>
      <button class="btn" disabled>Rating <span class="glyphicon glyphicon-sort"></span></button>
      <a class="btn" ng-click="sort_by('duration.id')">Time <span class="glyphicon glyphicon-sort"></span></a>
      </div>
    </div>
    <div class="row main-row">
      <div class="col-xs-11">
        <table class="table">
          <thead>
            <th>
              <a ng-click="sort_by('name')">Recipe</a>
            </th>
            <th>
              <a ng-click="sort_by('duration.id')">Time</a>
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="recipe in recipes  | orderBy:order:orderDir | search:searchText">
              <td>
                <%= link_to '{{recipe.name}}', 'recipes/{{recipe.id}}', method: :get %>
              </td>
              <td>
                {{recipe.duration.range}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
