<div class="container" ng-app="friendlyApp" ng-controller="RecipeController">
  <div class="row">
    <div class="col-xs-12">
      <% if current_user = @recipe.user %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class:'btn btn-warning edit', method: :get %>
      <% end %>
      <h2 class="title"><%= @recipe.name %></h2>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Ingredients</h4>
      <div class="inc-box">
        <h4>Ingredients</h4>
        <ul>
          <li ng-repeat="inc in incs">
            <a ng-click="toggleInc($index)">
              {{inc.ingredient.name}}  - {{inc.amount}} {{inc.unit.name}}
            </a>
          </li>
        </ul>
        <h4>Checked</h4>
        <ul>
          <li ng-repeat="inc in checked">
            <strike>{{inc.ingredient.name}} - {{inc.amount}} {{inc.unit.name}}</strike>
          </li>
        </ul>
        <a class="btn btn-primary" ng-click="reset()">Reset</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Time:
        {{recipe.duration.range}}
        </h4>
      <h4>Difficulty:
        {{recipe.level.level}}
      <h4>What to do</h4>
      <ol>
        <li>Do this and that</li>
        <li>Do that and this</li>
        <li>Hail satan</li>
        <li>Eat</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"></div>
  </div>
</div>
