<div class="container" ng-app="friendlyApp" ng-controller="RecipeController">
  <div class="row">
    <div class="col-xs-12">
      <% if current_user = @recipe.user %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class:'btn btn-warning edit', method: :get %>
      <% end %>
      <h2 class="title"><%= @recipe.name %></h2>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 style="float:left;">Ingredients</h4>
      <button class="btn calcBtn" ng-click="divide()">{{divideButton}}</button>
      <button class="btn calcBtn" ng-click="double()">{{doubleButton}}</button>
      <div class="inc-box">
        <h4>Ingredients</h4>
        <ul style="list-style:none">
          <li ng-repeat="inc in incs | orderBy:'id' ">
            <a ng-click="toggleInc($index)">
              <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            </a>
              {{inc.amount}} {{inc.unit.name}} - {{inc.ingredient.name}} - {{inc.instruction}}
          </li>
        </ul>
        <h4>Checked</h4>
        <ul style="list-style:none">
          <li ng-repeat="inc in checked">
            <a ng-click="unToggleInc($index)">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            </a>
            <strike>{{inc.ingredient.name}} - {{inc.amount}} {{inc.unit.name}}</strike>

          </li>
        </ul>
        <a class="btn btn-primary" ng-click="reset()">Reset</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Time:
        {{recipe.duration.range}}
        </h4>
      <h4>Difficulty:
        {{recipe.level.level}}
      <h4>What to do</h4>
      <div class="fr-view inc-box">
        <%= @recipe.note.html_safe %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"></div>
  </div>
</div>
