<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div class="container-fluid" ng-app="apper" ng-controller="IncController">
        <div class="col-sm-12 col-md-12 maindiv">
            <div class="row">
                <div class="col-sm-7 col-md-7  heading-div">
                    <h3 class="main-heading">{{recipe.name}}</h3>

                </div>
                <div class="col-sm-5 col-md-5  heading-div">
                    <a class="btn header-btn" ng-click="divide()">{{divideButton}}</a>
                    <a class="btn header-btn" ng-click="double()">{{doubleButton}}</a>
                    <a class="btn header-btn" ng-click="noteSwitch()">{{noteSwitchButton}}</a>
                    <a class="btn header-btn">Edit</a>

                </div>

            </div>
            <hr class="hline" />
            <div class="row">
                <div class="col-md-2 img-div">
                    <img class="recipe-img" src="cake.png">
                    <img class=" recipe-img" src="cake.png">
                    <img class="recipe-img" src="cake.png">
                </div>
                
                    <div ng-switch on="noteSwitchButton" class="animate-switch-container">
						<div class="animate-switch" ng-switch-when="Notes">
                        <div class="col-sm-5 col-md-5 ">
                            <h4 class="sub-heading">Ingredients I need</h4>
                            <hr class="hline" />
                            <ul>
                                <li ng-repeat="inc in incs | orderBy:'id'">
                                    <input type="checkbox" ng-click="toggleInc($index)">{{inc.amount}} {{inc.unit.name}} {{inc.ingredient.name}}</input>
                                </li>
                            </ul>
                            <h4 class="sub-heading">Ingredients I have</h4>
                            <hr class="hline" />
                            <ul>
                                <li ng-repeat="inc in checked">
                                    <input type="checkbox" ng-click="unToggleInc($index)" checked> <strike>{{inc.amount}} {{inc.unit.name}} {{inc.ingredient.name}}</strike></input>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-5 col-md-5 ">
                            <h4 class="sub-heading">Average Rating</h4>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <h4 class="headings sub-heading">Difficulty</h4>
                            <span class="label label-danger">Difficult</span>
                            <h4 class="headings sub-heading">Time</h4>
                            <span class="glyphicon glyphicon-time"></span>
                            <span class="glyphicon glyphicon-time"></span>
                            <span class="glyphicon glyphicon-time"></span>
                        </div>
						</div>
						<div class="animate-switch" ng-switch-when="Recipe View">
							<div class="col-sm-10 col-md-10">
								<h4 class="sub-heading">Notes</h4>
								<hr class="hline" />
								<ol>
									<li>Veri guud</li>
								</ol>
							</div>
						</div>
                    </div>
                
            </div>
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs">
                    <hr class="subline" />
                </div>
                <div class="col-sm-7 col-md-7 instruction-div">

                    <h4 class="sub-heading">Instruction</h4>
                    <hr class="hline" />
                    <p class="instruction-text">
                        Universaalista näkökulmasta katsoen leipominen rauhoittaa peräänkuulutettua lakonisuutta. On hyvin vaikea johdatella asioita siten, että leipominen näyttää todeksi asianosaisiin kohdistuvia ongelmia. Vaikka osaltamme onkin saatettu syyllistyä laiminlyönteihin, voidaan taholtamme kuitenkin todeta, että leipominen pakottaa kohderyhmää huomioimaan ilmiöiden liiallista nonfiguratiivisuutta.
                        <ol>
                            <li>Todellisuudessa leipominen todistaa oikeaksi hiusten halkomiseksi osoittautunutta geneerisyyttä.</li>
                            <li>Käytännön täytyy turvautua tarkoituksenmukaisiin keinoihin, jos leipominen yksinkertaistaa viimeaikaisia absurdeja väittämiä.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
</body>

</html>