.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.inc-box {
	border: 1px solid black;
	margin-top:10px;
	padding: 10px;
}

.border {
	border: 1px solid black;
}

.hline {
	margin-top: 0px;
	width:100%;
	
}
.subline {
	margin-top: 34px;
	width:130%;
}
.img-div {
}
.recipe-img {
	margin-top: 10px;
	border-radius: 25px;
}
ul {
	list-style-type: none;
}
li {
	margin-left: -20px;
}
.heading-div{

}
.main-heading{
	margin-top: 25px;
	margin-bottom: 0px;
	color: #cc6699;
}
.sub-heading {
	color: black;
}
.header-btn{
	margin-top: 32px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 65px;
	color: white;
	background-color: #dddddd;
	border-radius: 10px 10px 0px 0px
}
.header-btn:hover{
	
	color: white;
}
.instruction-div {
	margin-top: -5px;
}
.instruction-text{
	
}


.edit {
	float:right;
	margin-top:25px;
}
.main-row {
	margin-top: 10px;
}