<%# add navigation links to this file %>
<li>
  <%= link_to 'New Recipe', new_recipe_path %>
</li>
<li>
    <%= link_to 'New Tag', new_tag_path, method: :get %>
</li>
<li>
    <%= link_to 'Log Out', logout_url, method: :get %>
</li>
