<%# add navigation links to this file %>
<% if current_user %>
<li>
  <%= link_to 'New Recipe', new_recipe_path %>
</li>
<li>
    <%= link_to 'New Ingredient', new_ingredient_path, method: :get %>
</li>
<li>
    <%= link_to 'Sign Out', logout_url %>
</li>
<% else %>
<li>
  <%= link_to 'Sign in', login_url %>
</li>
<% end %>
